<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.frogobox.board">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.frogobox.board.ui.SplashActivity"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.frogobox.board.ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoToolbar" />
        <activity
            android:name="com.frogobox.board.ui.TutorialActivity"
            android:theme="@style/AppThemeNoToolbar" />
        <activity android:name="com.frogobox.board.ui.StatsActivity" />
        <activity android:name="com.frogobox.board.ui.AboutUsActivity" />
        <activity android:name="com.frogobox.board.ui.SettingsActivity" />
        <activity
            android:name="com.frogobox.board.ui.GameActivity"
            android:theme="@style/AppThemeNoToolbar" />


        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_publisher_id" />

    </application>

</manifest>